/*.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}*/

h1 { 
   /*position: absolute; 
   top: 150px;
    left: 120px; 
   width: 100%;*/
    font-size: 30px;
    font-weight: bolder;
}
