
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>Home of the App Labs! <small>Built for the Web.</small></h1>
</div>



<div class="bs-example">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">How to use this website</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">Select which section of the app labs you would like from the NavBar</li>
                <li class="list-group-item">Choose which level you would like to see</li>
                <li class="list-group-item">Enter the information prompted</li>
                <li class="list-group-item">Click "Home" on the NavBar at anytime to come back here</li>
             </ul>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Things to note</h3>
        </div>
        <div class="panel-body">
            This site is still a work in progress so things will change and they will break. Please bear with me.
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Any Questions?</h3>
        </div>
        <div class="panel-body">
            Please contact me at mortey@@gmail.com if you have any questions or concerns.
        </div>
    </div>
    
</div>

