@using System.Web.Razor.Parser.SyntaxTree
@using System.Web.UI.WebControls
@model AppLabs.Models.Level1Numbers.TipCalculatorResponse

@{
    ViewBag.Title = "TipCalculationResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
@section badges
    {
        <link href="~/Content/Badges.css" rel="stylesheet" />
    }
    
}



<div class="row">
    <header class="page-header text-center">
        <h1>Calculator Result</h1>
    </header>
    <div class="col-sm-4 col-sm-offset-2">
        
        <br/>
        
        <br />
        <br />
        <div class="Result">
            <ul class="list-group">
                <li class="zoomTarget list-group-item" data-targetsize="0.6" data-closeclick="true">
                    <!---It is one particular thing in a textbox so we don't need to change the whole HMTL tag-->
                    <span class="badge">@Model.DollarValue.ToString("c")</span>
                    Your Meal Cost
                </li>
                <li class="zoomTarget list-group-item" data-targetsize="0.6" data-closeclick="true">
                    <span class="badge">@Model.Tip.ToString("c")</span>
                    Your Tip Amount
                </li>
                <li class="zoomTarget list-group-item" data-targetsize="0.6" data-closeclick="true">
                    <span class="badge">@Model.Total.ToString("c")</span>
                    Your Total Amount
                </li>
            </ul>
        </div>
        
    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <br />

        <br />
        <br />
        <h4>Click to zoom in any box to get a closer look. Just click again to zoom out.</h4>
    </div>

</div>
