@model AppLabsWebVersion.Models.Level1Numbers.TipCalculation

@{
    ViewBag.Title = "TipRequestForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>The Tip Request Form</h2>


<div class="container">
    
        
    <p>Let's enter some information</p>
    
@using (Html.BeginForm("TipRequestForm", "Level1AppLabs", FormMethod.Post, new {role = "form"}))
{
    @Html.ValidationSummary()
    <form role="form">
        <div class="row">
            <label> Cost of your meal</label>
            <div class="input-group col-sm-9">
                <span class="input-group-addon">$</span>
                @Html.TextBoxFor(m => m.DollarValue, new {@class = "form-control", placeholder = "Cost"})
            </div>
        </div>
        <br/>
        <div class="row">
            <label>Tip Percent</label>
            <div class="input-group col-sm-9 ">
                @Html.TextBoxFor(m => m.TipPercentage, new {@class = "form-control", placeholder = "Tip Percent"})
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <br/>
        <div class="row">
            <button type="submit" class="btn btn-default" value="Save">Submit</button>
        </div>
    </form>
}
  </div>



